

.card{
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    max-width: 200px;
    max-height: fit-content;
    padding: 2px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;

}

.card-img-top{
    width: 100%;
    border-radius: 5px;
}